<!-- Modal -->
<div class="modal fade bs-modal-sm" id="createBalanceModal" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Account Balance</h4>
      </div>
      <div class="modal-body">
      
      <form id="createBalanceModal" class="form-horizontal" method="post" action="/home/createBalance/" >
    	{% csrf_token %}
        <fieldset>
            <div class="control-group">
              <label class="control-label" for="amount">New Balance</label>
              <div class="controls">
                 <input name="amount" required="" id="amount" type="text" class="form-control" placeholder="Amount" class="input-small">
              </div>            
            </div>
            <div class="control-group">
              <label class="control-label" for="createButton"></label>
              <div class="controls">
                <button id="createButton" name="account" value="{{ selected_account_tag }}" class="btn btn-success">Create</button>
              </div>
            </div>
      	</fieldset>
      </form>
      </div>
    </div>
  </div>
</div>