<div class="jumbotron">
    <div class="container">
    <h1>Getting Started</h1>
        <h2>Accounts:</h2>
        <p>Finance Tracker keeps track of all of the income and expenses for each account.</p>
        <p>A Checking Account, Cash on Hand, and Credit Card balance are all examples of accounts.</p>
        <p>You can make as many accounts as you like!</p>
        <p><a class="btn btn-primary btn-lg" role="button" "href="#createAccountModal" data-toggle="modal" data-target=".bs-modal-sm">Create »</a></p>
    </div>
</div>

{% include "base/modals/createMoneyAccountModal.html" %}